venv/
linux/
dataset-classification/
dataset-classification-Copy/
dataset_split_classification/
backup-dataset_classification/
dataset-segmentation/
cleaned_dataset/
*.npy
*.keras
*.jpg
segmentation/__pycache__/*
segmentation/logs/*
#temp
training_tumor_segmentation.csv
